.a1{height: 58px;
    width: 245px;

}
.a2{
    font-style: italic;
    font-weight: 300;
}
.a3{
    padding-left: 46px;
}
.a4{
    padding-left: 127px;
}
.a6{
    padding-right: 53px;

}
.b1{
    height: 650px;

}
.z1{
    max-width: 1575px;
    background-color: rgb(227, 232, 230);
}
.z3{
    padding: 0px 57px 10px 99px;
}
.z2{
    padding-left: 219px 
}
.z4{
    padding-left: 52px

}
.zz{
    padding-left: 73px;
}
.zl{
    padding-left: 37px;
}
.aa{
    padding-left: 511px;
    text-decoration: underline;
    font-size: 45px;
}
.bf{
    padding-left: 228px;
}
.bg1{
    margin-top: 28px;
}
.bg2{
    padding-top: 93px;
}
.he1{
    margin-right: 214px;
}
